.quiz-title {
    font-size: 2.5rem;
    color: #0f172a;
    text-align: center;
    margin: 20px 0;
}

.quiz-subtitle {
    font-size: 1.5rem;
    color: #6366f1;
    text-align: center;
    margin: 10px 0;
}

.quiz-card-count {
    font-size: 1.2rem;
    color: #0ea5e9;
    text-align: center;
    margin: 10px 0;
}

.link {
    display: inline-block;
    margin: 10px;
}

.learn-button,
.add-button {
    background-color: #6366f1;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1rem;
}

.learn-button:hover,
.add-button:hover {
    background-color: #0ea5e9;
    transform: translateY(-2px);
}

.all-flashcards {
    text-align: center;
    margin-top: 20px;
}

.difficulty-label, .category-label {
    font-size: 1rem;
    color: #0f172a;
    font-weight: bold;
}

#difficulty-select, #category-select {
    background-color: #f3f4f6;
    color: #0f172a;
    border: 1px solid #6366f1;
    border-radius: 4px;
    padding: 8px;
    margin-top: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.difficulty-select:focus, .category-select:focus {
    outline: none;
    border-color: #0ea5e9;
}

.diff-select, .category-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.flashcards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }

  body {
    padding-top: 80px;
  }



