.Card {
    width: 28%;
    padding: 0 0 15px;
    margin: calc(10% / 6);
    display: inline-block;
    background-color: white;
    border-radius: 0 5% 5%;
    box-shadow: 0 15px 25px #817c7c33;
}

.Card img {
    max-width: 100%;
}

.Card h3 {
    margin: 0.5em;
    font-size: 25px;
}

.Card .linkButton {
    font-size: 15px;
}

.cardText {
    position: relative;
    background: none;
}

.save-button {
    position: absolute;
    top: -20px;
    right: 10px;
    background: none;
    border: none;
    font-size: 28px;
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
    padding: 0;
    margin: 0;
    outline: none;
}

.save-button.saved {
    color: #f2a123;
    text-shadow: 0 0 4px black;
}