.Card {
    width: 28%;
    height: 400px;
    padding-top: 10px;
    margin: calc(10% / 6);
    display: inline-block;
    background-color: white;
    box-shadow: 0 15px 25px #817c7c33;
}

.Card img {
    width: calc(100% - 30px);
    height: 250px;
}

.Card h3 {
    margin: 0.5em;
}

.nameText {
    font-size: 24px;
}

.lookUpButton, .detailButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.lookUpButton svg, .detailButton svg {
    fill: #274722;
    width: 24px;
    height: 24px;
}

.lookUpButton:hover svg, .detailButton:hover svg {
    fill: #b6261a;
}

.cardText {
    position: relative;
    background: none;
}

.save-button {
    right: 10px;
    background: none;
    border: none;
    font-size: 28px;
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
    padding: 0;
    margin: 0;
    outline: none;
}

.save-button.saved {
    color: #f2a123;
    text-shadow: 0 0 4px black;
}

.locationText {
    font-style: italic;
}