.Card {
    width: 100%;
    height: 450px;
    padding-top: 10px;
    margin: calc(10% / 6);
    display: inline-block;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #6366f1;
    border-radius: 8px;
    transition: transform 0.2s;
}

.Card:hover {
    transform: scale(1.05);
}

.Card img {
    width: calc(100% - 30px);
    height: 250px;
}

.Card h3 {
    margin: 0.5em;
}

.nameText {
    font-size: 1.5rem;
    background-color: #f3f4f6;
    color: #0f172a;
    padding: 16px;
    margin: 0;
}

.locationText {
    font-size: 1.2rem;
    color: #0ea5e9;
    margin: 4px 0 12px;
}

.look-up-button,
.detail-button,
.save-button,
.review-btn {
    background-color: transparent;
    color: #0ea5e9;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 8px;
}

.look-up-button:hover,
.detail-button:hover,
.save-button:hover,
.review-btn:hover {
    color: #6366f1;
}

.look-up-button svg,
.detail-button svg {
    width: 24px;
    height: 24px;
}


.cardText {
    position: relative;
    background: none;
}

.save-button {
    font-size: 28px;
}

.save-button.saved {
    color: #6366f1;
}

