.flashCardLearn {
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid #6366f1;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.flashCardLearn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.learnContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}



.question {
    font-size: 1.2rem;
    color: #0f172a;
}

.answer {
    font-size: 1rem;
    color: #0f172a;
}

.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.guess-space {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 1rem;
    color: #0f172a;
    display: inline-block;
}

.inputField {
    margin-top: 8px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6366f1;
    width: 250px;
    background-color: #f3f4f6;
    color: #0f172a;
}

.button {
    margin: 10px 5px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.submit {
    background-color: #6366f1;
    color: #ffffff;
}

.submit:disabled {
    background-color: #bdbddb;
}

.seeAnswer {
    background-color: #0ea5e9;
    color: #ffffff;
}

.result-text {
    font-size: 1.2rem;
    color: #0f172a;
    text-align: center;
    margin-top: 20px;
}