.flashCard .question,
.flashCard .answer {
    position: absolute;
    padding: 5px;
    justify-content: center;
    backface-visibility: hidden;
    margin-left: auto;
    margin-right: auto;
}

.flashCard {
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #0000004d;
    transform-style: preserve-3d;
    font-weight: 700;
    height: 250px;
    cursor: pointer;
    transition: .15s;
    transform: perspective(1000px) rotateX(var(--rotate-X, 0));
    padding: 2em;
    font-size: larger;
    text-align: center;
    background-color: beige;
    margin: 50px 450px;
    
}

.button .cardMove {
    display: inline-block;
    margin: 0;
}

